.background-image {
  background-image: url(./assets/desert-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh; 
  width: 100vw;
  background-position: center; 
  overflow: auto;
  
}




/* Contact */
.contact-header {
  text-align: center;
  font-family: 'Anton';
  font-size: 5vw;
}

.nav-link:hover {
  color: rgb(232, 149, 149) !important; 
}

